.parrafo-3 {
    color: black;
    font-family: "roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
}

.contenido-pie-1 {
    color: black;
    font-family: "roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.contenido-pie-2 {
    color: black;
    font-family: "roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    position: relative left;
    text-align: center;
}

.contenido-pie-3 {
    color: black;
    font-family: "roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.parrafo-4 {
    color: black;
    font-family: "roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.med-pago {
    padding-top: 0px;
    padding-bottom: 50px;
}

.logo-what {
    position: fixed;
    height: 80;
    right: 0;
    bottom: 0;
    z-index: 15;
    padding-top: 0px;
    padding-bottom: 50px;
}
